.grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
width: 70%;
height: 100%;
padding: 20px;
padding-bottom: 40px;
}

.box {
border: 5px solid;
border-image-slice: 1;
border-image-source: linear-gradient(to right, #2c5fd4, #2eda8e);
background-color: white;
display: flex;
justify-content: center;
align-items: center;
}