body{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
 }
 
 :root{
    font-size: 20px;
   --primary-color: #0f0f0f;
   --secondary-color: rgb(255, 255, 255);
   --tertiary-color: #9247FC;
   --quaternary-color: #21252b;

   --gradient-start: #2c5fd4;
   --gradient-end: #2eda8e;
 }
 