body{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: var(--secondary-color);
 }
 
 :root{
    font-size: 20px;
   --primary-color: #0f0f0f;
   --secondary-color: rgb(255, 255, 255);
   --tertiary-color: #9247FC;
   --quaternary-color: #032c88;
   --quinary-color: #2eda8e;
    --senary-color: #747474;


   --navbar-height: 4rem;
   --gradient-start: #2c5fd4;
   --gradient-end: #2eda8e;
 }
 