.mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--quaternary-color);
    min-height: calc(100vh - var(--navbar-height));
}

.bigCard{
    width: 750px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border: 1px solid var(--septary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.submitButton{
    width: 95%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--quaternary-color);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.submitButton:hover{
    background-color: var(--septary-color);
}

.tableSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #dadada;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }
  

  .box input {
    width: 80%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
  }