.container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem;
}

.statsContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
}