.mainContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f5f5f5;
}

.leftContainer{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.statsContainer{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
}

.rightContainer{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

/* Media query for responsivity */
@media only screen and (max-width: 1200px) {
    .mainContainer {
        flex-direction: column;
    }

    .leftContainer {
        width: 100%; 
    }
    .rightContainer {
        width: 100%; 
    }

}